# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Environments
.venv/
venv/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp

# Local configuration (Contains private keys!)
.env

# local test notebooks
*.ipynb